{% extends "layout.html" %}

{% block content %}

<body>
  <h1 class="container"> About this Project</h1>
  <p>The purpose of this project is to visualize woodworking tool purchase data for companies using D3.<p>
  <p>Our group has access to approximately 900,000 transactions from approximately 200,000 unique customers. This data is stored in two .csv files.</p>
  <p> Anon_customers.csv contains customer information, including: </p>
  <ul>
    <li>A unique customer ID for each customer</li>
    <li>ZIP code</li>
    <li>Birth month (many customers are missing this information)</li>
    <li>Total Sales, or the total amount they have spent</li>
    <li>Total Savings, or the total amount saved from discounts or coupons</li>
    <li>Total Visits</li>
    <li>The date of the customers most recent visit</li>
    <li>ReferralCode (many customers are missing this information)</li>
  </ul>
  <p>transactions.csv contains the transaction history of each customer, including:</p>
  <ul>
    <li>ID, which is the ID of the item itself</li>
    <li>CustomerID, which is the ID of the customer who purchased the item</li>
    <li>Description, which is a description of the item</li>
    <li>TransactionTime, which is the date and time of purchase</li>
    <li>Price of the item including any discounts or sales</li>
    <li>FullPrice of the item, which does not include sales or discounts</li>
    <li>DepartmentName, or the name of the department this item comes from</li>
    <li>DiscountCode, which is a non-zero value if a discount was applied</li>
    <li>ReturnCode, which is a non-zero value if an item was returned</li>
  </ul>
  <h1> Business Applications</h1>
  <p>The business goal of the application is to focus on giving business owners an interactive tool to visualize trends and relationships within the data set. This would be divided into four primary focus areas:</p>
  <ul>
  <li>Purchasing Trends</li>
  <li>Geographical Data</li>
  <li>Return &amp; Discount Codes</li>
  <li>Product Relationships &amp; Predictive Modeling / Recommendation Engine</li>
  </ul>
</body>
{% endblock %}