{% extends "layout.html" %}


{% block styles %}
<style>
  .badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }
  .my-cart-icon-affix {
    position: fixed;
    z-index: 999;
  }
</style>
{% endblock %}

{% block scripts %}

<script src="{{url_for('static', filename='js/jquery.mycart.js')}}"></script>
<script type="text/javascript">
  $(
    function () {
      var goToCartIcon = function($addTocartBtn){
        var $cartIcon = $(".my-cart-icon");
        var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
        $addTocartBtn.prepend($image);
        var position = $cartIcon.position();
        $image.animate({
          top: position.top,
          left: position.left
        }, 500 , "linear", function() {
          $image.remove();
        });
      }
      var options = {
        currencySymbol: '$',
        classCartIcon: 'my-cart-icon',
        classCartBadge: 'my-cart-badge',
        classProductQuantity: 'my-product-quantity',
        classProductRemove: 'my-product-remove',
        classCheckoutCart: 'my-cart-checkout',
        classRecommendCart: 'my-cart-recommend',
        affixCartIcon: true,
        showCheckoutModal: true,
        numberOfDecimals: 2,
        clickOnAddToCart: function($addTocart){
          goToCartIcon($addTocart);
        },
        //afterAddOnCart: function(products, totalPrice, totalQuantity) {
        //  console.log("afterAddOnCart", products, totalPrice, totalQuantity);
        //},
        //clickOnCartIcon: function($cartIcon, products, totalPrice, totalQuantity) {
        //  console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
        //},
        recommendCart: function(products, totalPrice, totalQuantity) {
          $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/recommend",
            data: JSON.stringify({products: products}),
            success: function (data) {
                var myDiv = document.getElementById("showresults");
                myDiv.innerHTML = data
            },
            dataType: "json"
          });
        },
        checkoutCart: function(products, totalPrice, totalQuantity) {
          // return false, from this function 
          // if precondition of checking out is invalid
          // if(!willProceedToCheckout) return false;
          // var checkoutString = "Total Price: " + totalPrice + "\nTotal Quantity: " + totalQuantity;
          // checkoutString += "\n\n id \t name \t summary \t price \t quantity \t image path";
          // $.ajax({
          //   type: "POST",
          //   contentType: "application/json; charset=utf-8",
          //   url: "/",
          //   data: JSON.stringify({products: products}),
          //   success: function (data) {
          //       window.location.href = data['redirect'];
          //   },
          //   dataType: "json"
          // });

          // $.each(products, function(){
          //   checkoutString += ("\n " + this.id + " \t " + this.name + " \t " + this.summary + " \t " + this.price + " \t " + this.quantity + " \t " + this.image);
          // });
          return true;
        },
        getDiscountPrice: function(products, totalPrice, totalQuantity) {
          return totalPrice * 0.5;
        }
      };
      $(".my-cart-btn").myCart(options);
  });
</script>
<script type="text/javascript">
    $(document).ready( function () { $('#itemsTable').DataTable();} );
</script>
{% endblock %}

{% block content %}
<h1>Recommendation Model Demo</h1>
<p>This may take some time to load as it is only a demo website - please be patient (Recommendations appear at the bottom of the page).</p>
<div style="float: right; cursor: pointer;">
  <span class="bi-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
</div>

<table class="table" id="itemsTable">
  <thead>
    <tr>
      <th scope="col">Department</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for index, row in items.iterrows(): %}
    <tr>
      <td>{{ row[5] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ "$%.2f"|format(row[4])  }}</td>
      <td><button class="btn btn-danger my-cart-btn" data-id="{{row[0]}}" data-name="{{row[3]}}" data-summary="{{row[3]}}" data-price="{{row[4]}}" 
        data-quantity="1" data-image="{{url_for('static', filename='img/add.png')}}">Add to Test</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h1></h1>
<div id="showresults" />
{% endblock %}
