{% extends "layout.html" %}


{% block styles %}
{% endblock %}

{% block scripts %}


<script src="{{url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.mycart.js')}}"></script>
{% endblock %}

{% block content %}
<h1>Order Creation and Recommendation</h1>
<p>Create custom orders and get item recommendations based off of your order.</p>

<h2>Order Checkout Success!</h2>

{% endblock %}